.navbar {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;

    &-nav {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
    }

    &-link {
        text-decoration: none;
        font-size: 30px;
    }
}