.card {

    &__container {
        position: relative;
        border: solid 2px blue;
        display: flex;
        flex-direction: column;
        height: 650px;
        width: 300px;
    }

    &__img {
        height: 200px;
        width: 200px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7px;
    }

    &__title {
        margin: 0;
        font-size: 30px;
    }

    &__description {
        margin: 0;
        font-size: 12px;
    }

    &__price {
        font-weight: bold;
        margin: 0;
    }

    &__button {
        position: absolute;
        bottom: 0;
        left: 30%;
        margin: 0;
        padding: 0;
        font-size: 30px;
    }
}