.contacts {
    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        background: #444;
        border: 20px solid #000;
        outline: 4px solid #5dd;

        @media (min-width: 1100px) {
            gap: 100px;
        }
    }

    &__iconoEmail {
        margin: auto;
        border-radius: 50%;
        padding: 20px;
        min-width: 220px;
        max-width: 300px;
    }

    &__separator {
        flex: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        min-width: 250px;
        padding: 20px;
        min-width: 440px;

        @media (max-width: 926px) {
            height: 302px;
        }

        & input {
            max-height: 30px;
            margin-bottom: 10px
        }

        & textarea {
            flex-grow: 1;
            margin-bottom: 10px
        }

        & button {
            margin: auto;
            width: 40%;

        }

    }
}

@media (min-width: 1100px) {
    .contacts__form {
        gap: 100px;
    }
}